<!--The content below is only a placeholder and can be replaced.-->
<div>
 <!--  <h1>
    Welcome to {{title}}!
  </h1>
  <app-meu-primeiro-component></app-meu-primeiro-component>
  <app-segundo-component></app-segundo-component> -->
  <!-- <app-data-binding></app-data-binding> -->
  <!-- <app-ciclo [valorInicial]="valor" *ngIf="!deletarCiclo"></app-ciclo>
   <button class="btn btn-primary" (click)="mudarValor()">Mudar Valor</button>
   <button class="btn btn-primary" (click)="destruirCiclo()">Destruir Componente</button> -->
</div>
<!-- <p *ngFor="let item of list">{{item}}</p> -->

<!-- <app-diretiva-ngif></app-diretiva-ngif> -->
<app-diretiva-ngswitch></app-diretiva-ngswitch>
<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->